.add_container{
    display : flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


/* input for adding a new task */

.add-task-input{
    height: 40px;
    border-radius: 20px;
    border: 1px solid  grey;
    background-color: rgba(255, 255, 255, 0.4);
    
}

.add-task-input[placeholder]{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


/* button to add new task */
.add{
    margin-left: 10px;
    height: 40px;
    width: 70px;
    border: none;
    font-weight: bold;
}


/* styling the message */
.message{
    display: flex;
    justify-content: center;
    align-items: center;
}


.message-container{
    display: flex;
    width: fit-content;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    margin-top: 40px;
}

.close{
    border: none;
    background-color: none;
    width: fit-content;
    margin: 7px;
    align-items: flex-end;
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}


