
/* styling the header */
h1 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 560px;
  font-size: 40px;
  color:rgb(70, 45, 11);
}

/* styling each task */
.individual_tasks {
  margin-top: 10px;
  display: flex;
  border: none;
  /* border-radius: 5px; */
  width: 600px;
  margin-left: 380px;
  height: 50px;
  background-color: rgba(110, 73, 9, 0.4);
}

.task-name {
  margin-top: 12px;
  margin-left: 10px;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  font-weight: 1000;
  color: rgb(69, 44, 12);
}

.checkbox {
  margin-left: 10px;
}


/* styling the task buttons */


.active-tasks-button {
  border: white;
  height: 50px;
  width: 150px;
  margin-top: 20px;
  margin-left: 510px;
  /* border-radius: 8px; */
}

.completed-tasks-button {
  border: white;
  height: 50px;
  width: 150px;
  margin-top: 20px;
  margin-left: 20px;
  /* border-radius: 8px; */
}

button{
    background-color: rgb(201, 138, 67); 
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: normal;
    font-size: 15px;
    opacity: 0.9;
}

button:hover {
  opacity: 0.5;
}




